
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="icon" type="image/png" href="~/website/images/icons/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/website/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/website/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <style>
        p{
            padding-top:20px
        }
    </style>
</head>
<body style="background-color:#e8e8e8">

    <div class="row" style=" 
    display: flex;
    height: 100vh;
    color:#000;
    font-family: emoji;
    font-weight: 800;
    letter-spacing: 0.5px;
    justify-content: center;
margin:0;
    align-items: center;">



        <div class="col-5" style="    background-color: white;
    padding: 21px;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
    border-radius: 4px;">
            <h1 style="text-align:center; padding:15px">Welcome</h1>

            <h4>
                To transfer the account to a Vendour account
                the terms and steps below:
            </h4>



            <p> 1-Prohibited sale of prohibited products</p>

            <p> 2-Please follow the site policy</p>

            <p> 3-A discount of 5% is applied to each product sold</p>
            <p> 4-Your request will be accepted by the administrator as soon as possible</p>

           
            <form asp-action="transfare" asp-controller="Customer" style="margin-top: 35px;">
                <label for="I"><input id="I" type="checkbox" required style="display: initial;" />Agree to all terms</label>
                
                <input type="submit" value="transfer" style=" padding: 5px 23px;margin-top:37px;
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 48px;
    background-color: #dfdfdf;" />
            </form>
        </div>
</div>





</body>
<!--===============================================================================================-->
<script src="~/website/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/website/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/website/vendor/bootstrap/js/popper.js"></script>
<script src="~/website/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/website/vendor/select2/select2.min.js"></script>
<script src="~/website/vendor/daterangepicker/moment.min.js"></script>
<script src="~/website/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/website/vendor/slick/slick.min.js"></script>
<script src="~/website/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="~/website/vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="~/website/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script src="~/website/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<script src="~/website/js/main.js"></script>
</html>