@model IEnumerable<handicrafe.Models.FeedbackHandicraft>

@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

<style>
    .item{
        background-color: #ffffff;
        border-radius: 20px;
        font-family: initial;
        box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, 
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    }
    body{
        background-color:rgb(244,244,244) !important;
    }
</style>

@foreach (var item in Model)
{
    <div class="row m-3 p-3 item">
        <div class="col-2" style="height:114px;">
            @*      @Html.DisplayFor(modelItem => item.IdNavigation.Image)*@
            <img src=@Url.Content("~/image/"+item.IdNavigation.Image) style="width:100%;height:100%; border-radius:50%;">
        </div>
        <div class="col-9">
            @Html.DisplayFor(modelItem => item.Message)
            <div class="" style="color:dimgrey;display:flex;flex-direction:column">
                <div>
                    <i class="fa fa-user-circle" style="color:#000"></i>
                    @Html.DisplayFor(modelItem => item.IdNavigation.FName) @Html.DisplayFor(modelItem => item.IdNavigation.LName)

                </div>
            </div>
        </div>

    </div>
}